<!-- Start your project here-->
<div style="height: 50vh">
  <div class="flex-center flex-column">
    <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular)</h1>

    <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
    <h6 class="animated fadeIn mb-3">Start browsing <a href="https://mdbootstrap.com/angular">documentation</a>.</h6>

    <p class="animated fadeIn text-muted">MDB Team</p>
  </div>
</div>
<!-- /Start your project here-->

<div class="container">
	<div class="row">
	  <div class="col-sm">
		<mdb-card>
			<!--Card image-->
			<mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
			<!--Card content-->
			<mdb-card-body>
		  
			  <!--Title-->
			  <mdb-card-title>
				<h4>Card Title</h4>
			  </mdb-card-title>
		  
			  <!--Text-->
			  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
				content.
			  </mdb-card-text>
		  
			  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
			</mdb-card-body>
		  </mdb-card>
	  </div>
	  <div class="col-sm">
		One of three columns
	  </div>
	  <div class="col-sm">
		One of three columns
	  </div>
	</div>
  </div>
